.Profile
  position: absolute
  display: table
  width: 160px
  right: 17px
  height: 58px
  vertical-align: middle
  padding: 0 20px

  .Profile-pill
    border-radius: 32px
    width: 77px
    height: 42px
    background: #fff
    border: 1px solid #ddd

    button
      font-size: 16px

  .value
    font-weight: bold
