@import "base/_normalize.css";
@import "base/_vars";
@import "module";


.ellipsis
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.hide
  display: none !important

.text-bold
  font-weight: bold

.text-green.text-green
  color: $green

.text-white.text-white
  color: $white

.text-blue.text-blue
  color: $blue

.border-green.border-green
  border-color: $green

.border-blue.border-blue
  border-color: $blue

.bg-orange-yellow-gradient.bg-orange-yellow-gradient
  background: linear-gradient(to right, $orange 60%, $light-yellow)

.text-16
  font-size: 16px

.text-20
  font-size: 20px

.text-24
  font-size: 24px

.m-t-4
  margin-top: 4px

.m-b-4
  margin-bottom: 4px

.m-t-8
  margin-top: 8px

.m-b-8
  margin-bottom: 8px

.m-t-16
  margin-top: 16px

.m-b-16
  margin-bottom: 16px
